body {
    font-family: "Poppins", sans-serif;
    color: wheat;
    background-image: linear-gradient(to bottom right, #be974a, #b18b42, #a48039, #987431, #8b6929, #8b6d23, #8a711b, #887513, #8c8b08, #8aa203, #7fb912, #69d22c);
    text-shadow: -.5px 0 orangered, 0 .5px orangered, .5px 0 orangered, 0 -.5px orangered;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: 5rem;
}
.jumbotron {
    display:flex;
    padding: 20px;
    background-image: linear-gradient(to left, #fcfbf9, #fbf1de, #f9e7c4, #f8ddaa, #f6d290, #f6cb7e, #f5c36c, #f5bb59, #f7b449, #f8ad37, #faa623, #fc9e00);
    margin: 0;
    position: relative;
}
.navbar {
    background-image: linear-gradient(to right bottom, #be974a, #b18b42, #a48039, #987431, #8b6929, #8b6d23, #8a711b, #887513, #8c8b08, #8aa203, #7fb912, #69d22c);
}
.navbar a, .navbar a:focus {
    display: flex;
    justify-content: left;
    font-size: 15px;
    font-weight: 500;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #b18b42;
}
.breadcrumb {
    background-image: linear-gradient(to left, #fcfbf9, #fbf1de, #f9e7c4, #f8ddaa, #f6d290, #f6cb7e, #f5c36c, #f5bb59, #f7b449, #f8ad37, #faa623, #fc9e00); 
}
.about {
    padding: 10px 10px 10px 10px;
    border: 2px dotted whitesmoke;
}
.about h3 {
    border-bottom: 4px solid orangered;
}
.about-content {
    border: 2px dotted whitesmoke;
    padding: 10px 10px 10px 10px;
}
.about-content h3 {
    border-bottom: 4px solid orangered;
}
.second-border-container {
border: 2px solid whitesmoke;
}
#menu {
    padding: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
    font-size: 14px;
    border: 2px dotted whitesmoke;
}
.menu-group-heading {
    margin: 0;
    padding-bottom: .25em;
    border-bottom: 3px solid orangered;
}
.menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
}
.menu-item {
        border: 2px dotted whitesmoke;
}
.menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    float: left;
    object-fit: cover;
    padding-right: 1em;
    padding-bottom: .5em;
}
.menu-item-text {
    flex-grow: 1;
}
.menu-item-heading {
    display: flex;
    justify-content: space-between;
}
.menu-item-name {
    margin-right: 1.5em;
}
.menu-item-description {
    line-height: 1.6;
}
@media screen and (min-width: 992px) {
    .menu {
        font-size: 16px;
    }
    .menu-item-image {
        width: 125px;
        height: 125px;
    }
}
h1, h2 , h3 {
    font-family:'Satisfy';
    text-shadow: -.5px 0 orangered, 0 .5px orangered, .5px 0 orangered, 0 -.5px orangered;
}
h2 span {
    color: whitesmoke;
}
h1, h2 {
    color: whitesmoke;
}
#home {
    width: 100%;
    height: 100vh;
    background-color: rgba(39, 37, 34, 0.8);
    overflow: hidden;
    padding: 0;
}
#home .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#home .carousel-item::before {
    content: "";
    background-color: rgba(12, 11, 10, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
#home .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#home .carousel-content {
    text-align: center;
}
#home h2 {
    color: whitesmoke;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 700;
}
#home h2 span {
   color:#69d22c;
}
#home p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
}
#home .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
}
#home .carousel-inner .carousel-item,
#home .carousel-inner .active.carousel-item-start,
#home .carousel-inner .active.carousel-item-end {
    opacity: 0;
}
#home .carousel-inner .active,
#home .carousel-inner .carousel-item-next.carousel-item-start,
#home .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
}
#home .carousel-inner .carousel-item-next,
#home .carousel-inner .carousel-item-prev,
#home .carousel-inner .active.carousel-item-start,
#home .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
}
#home .carousel-control-next-icon, #home .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#home .carousel-control-next-icon:hover, #home .carousel-control-prev-icon:hover {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
}
#home .carousel-indicators li {
    cursor: pointer;
}
#home .btn-menu, #home .btn-book {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 0 10px;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    color: #fff;
    border: 2px solid #ffb03b;
}
#home .btn-menu:hover, #home .btn-book:hover {
    background: #ffb03b;
    color: #fff;
}
@media (max-width: 768px) {
    #home h2 {
      font-size: 28px;
    }
}
@media (min-width: 1024px) {
    #home p {
      width: 50%;
    }
    #home .carousel-control-prev, #home .carousel-control-next {
      width: 5%;
    }
}
.about h1 span {
    color:#69d22c;
}
.contact-row {
    padding: 30px 0;
    border: 2px dotted whitesmoke;
    min-height: 200px;
    }
    .contact-row a, .contact-row a:hover {
        color: whitesmoke;
    }
.book-a-table-btn {
    background: #9c5f04;
    color: #fff;
    border-radius: 50px;
    margin: 0 0 0 20px;
    padding: 10px 25px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    white-space: nowrap;
}
.book-a-table-btn:hover {
    background: #e28a07;
    color: #fff;
}
.feedback-btn {
    background: #9c5f04;
    color: #fff;
    border-radius: 50px;
    margin: 0 0 0 20px;
    padding: 10px 25px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s;
    white-space: nowrap;
}
.feedback-btn:hover {
    background: #e28a07;
    color: #fff;
}
@media (max-width: 992px) {
    .book-a-table-btn {
      margin: 0 15px 0 0;
      padding: 8px 20px;
      letter-spacing: 1px;
    }
}
.card {
    background-image: linear-gradient(to right bottom, #be974a, #b18b42, #a48039, #987431, #8b6929, #8b6d23, #8a711b, #887513, #8c8b08, #8aa203, #7fb912, #69d22c);
    display:flex;
}
a {
    color: whitesmoke;
}
a:hover {
    color: wheat;
}
input, select, textarea {
    background-image: linear-gradient(to right, #fcfbf9, #fbf1de, #f9e7c4, #f8ddaa, #f6d290, #f6cb7e, #f5c36c, #f5bb59, #f7b449, #f8ad37, #faa623, #fc9e00);
}
#footer {
    background-image: linear-gradient(to left, #fcfbf9, #fbf1de, #f9e7c4, #f8ddaa, #f6d290, #f6cb7e, #f5c36c, #f5bb59, #f7b449, #f8ad37, #faa623, #fc9e00);
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1rem;
    text-align: center;
    padding: 25px 0;
}
.container-fluid-footer {
    background-image: linear-gradient(to left, #fcfbf9, #fbf1de, #f9e7c4, #f8ddaa, #f6d290, #f6cb7e, #f5c36c, #f5bb59, #f7b449, #f8ad37, #faa623, #fc9e00);
    width: 100%;
    height: auto;
}
#footer h3 {
    font-family:'Satisfy';
    font-size: 25px;
    font-weight: 400;
    color: whitesmoke;
    position: relative;
    padding: 0;
    margin: 0;
}
#footer h3 span {
    color:#69d22c;
}
#footer p {
    font-size: 15;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: -.5px 0 orangered, 0 .5px orangered, .5px 0 orangered, 0 -.5px orangered;
    padding: 0;
    margin: 0;
}
#footer .social-links {
    margin: 0 0 10px 0;
}
#footer .social-links a {
    font-size: 16px;
    display: inline-block;
    background-image: linear-gradient(to left, #fcfbf9, #fbf1de, #f9e7c4, #f8ddaa, #f6d290, #f6cb7e, #f5c36c, #f5bb59, #f7b449, #f8ad37, #faa623, #fc9e00);
    color: #a48039;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    border-color:#887513;
    text-align: center;
    width: 30px;
    height: 30px;
    transition: 0.3s;
}
#footer .social-links a:hover {
    background: #ffb03b;
}
#footer .copyright {
    text-shadow: -.5px 0 orangered, 0 .5px orangered, .5px 0 orangered, 0 -.5px orangered;

}
.tooltip-inner {
    background-image: linear-gradient(to right bottom, #be974a, #b18b42, #a48039, #987431, #8b6929, #8b6d23, #8a711b, #887513, #8c8b08, #8aa203, #7fb912, #69d22c);
    }
.modal-content {
    background-image: linear-gradient(to right bottom, #be974a, #b18b42, #a48039, #987431, #8b6929, #8b6d23, #8a711b, #887513, #8c8b08, #8aa203, #7fb912, #69d22c);
}   
.modal h3 {
    color: whitesmoke;
}
